@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #2B2A4C;
}

a {
    color: #2B2A4C;
    text-decoration: none;
    text-decoration-color: #ffe4c4;
}

/* Transition */
a,
.btn {
    transition: all 300ms ease;
}

/* Desktop Nav */
.nav,
.nav-links,
.logo {
    display: flex
}

.nav {
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    width: 90%;
    margin: 0 auto;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.nav-links a:hover {
    color: rgb(194, 207, 19);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(194, 207, 19);
}

.logo {
    align-items: center;
    gap: 1rem;
}

.logo img {
    width: 40px;

}

.logo span {
    font-size: 2rem;
}